html,
body{
	background: url("office plant.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#page-container {
	position: relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: 2.5rem;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 6rem;
	background-color: rgb(113, 151, 81);
}
h2 {
	font-family: 'Bitter', serif;
	color: #FFFFF;	
}
.btn-warning {
	float: right;
}
	
	



